.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  // background: linear-gradient(to right top, #f2f0f1, #f9f2f7 );
  display: flex;
  align-items: center;
  justify-content: center;
}

